$headerHeight: 100px;
$navHeight: 50px;
$footerHeight: 80px;
$contentHeight: calc(100vh - ($headerHeight + $navHeight + $footerHeight));

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}



body {
    background-color: #f4f4f4;
    margin: 0;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: $headerHeight $navHeight $contentHeight $footerHeight;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";


        header {
            grid-area: header;
            background-color: darkslategray;
            display: grid;
            place-items: center;
            color: #f4f4f4;
            font-size: 20px;
        }

        nav {
            grid-area: nav;
            background-color: cornflowerblue;
            display: grid;

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: grid;
                }

                a {
                    display: grid;
                    place-items: center;
                    color: #f4f4f4;
                    font-size: 18px;
                    outline: 0;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover, &:focus {
                        background-color: darkslategray;
                        text-decoration: underline;
                    }
                }

                @include tablet {
                    grid-template-columns: repeat(auto-fit, 100px);
                }
            }
        }

        main {
            grid-area: main;
            padding: 50px;
            display: grid;
            grid-auto-rows: max-content;
            grid-gap: 50px;

            article {
                background-color: #e1e1e1;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.5);
                display: grid;
                grid-gap: 15px;


                .top {
                    cursor: pointer;
                    padding: 15px;

                    &:hover {
                        background-color: #d1d1d1;
                    }
                }

                .content {
                    padding: 0 15px 15px 15px;


                    table {
                        width: 100%;
                        border-collapse: collapse;
                        background-color: red;


                        &, th, td {
                            border: 1px solid black;
                        }
                    }
                }
                

                p {
                    margin: 0;
                }

                .hidden {
                    visibility: hidden;
                    display: none;
                }
            }
        }

        footer {
            grid-area: footer;
            background-color: darkslategray;
            display: grid;
            place-items: center;
            color: #f4f4f4;
            font-size: 20px;
        }
    }
}