body {
  background-color: #f4f4f4;
  margin: 0;
}
body .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px calc(100vh - 230px) 80px;
  grid-template-areas: "header" "nav" "main" "footer";
}
body .wrapper header {
  grid-area: header;
  background-color: darkslategray;
  display: grid;
  place-items: center;
  color: #f4f4f4;
  font-size: 20px;
}
body .wrapper nav {
  grid-area: nav;
  background-color: cornflowerblue;
  display: grid;
}
body .wrapper nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}
body .wrapper nav ul li {
  list-style-type: none;
  display: grid;
}
body .wrapper nav ul span {
  display: grid;
}
body .wrapper nav ul span.current {
  text-decoration: underline;
}
body .wrapper nav ul span a {
  display: grid;
  place-items: center;
  color: #f4f4f4;
  font-size: 18px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}
body .wrapper nav ul span a:hover, body .wrapper nav ul span a:focus {
  background-color: darkslategray;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  body .wrapper nav ul {
    grid-template-columns: repeat(auto-fit, 100px);
  }
}
body .wrapper main {
  grid-area: main;
  overflow: auto;
  scrollbar-width: 0;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  padding: 0 50px;
}
body .wrapper main::-webkit-scrollbar {
  display: none;
}
body .wrapper main section {
  min-height: 100%;
  scroll-snap-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "title" "content";
}
body .wrapper main section h2 {
  grid-area: title;
  text-align: center;
  margin: 0;
  display: grid;
  place-items: center;
}
body .wrapper main section .content-container {
  grid-area: content;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-gap: 50px;
}
body .wrapper main section .content-container article {
  background-color: #e1e1e1;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-gap: 15px;
}
body .wrapper main section .content-container article .top {
  cursor: pointer;
  padding: 15px;
}
body .wrapper main section .content-container article .top:hover {
  background-color: #d1d1d1;
}
body .wrapper main section .content-container article .content {
  padding: 0 15px 15px 15px;
}
body .wrapper main section .content-container article .content table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 10px;
  overflow: hidden;
}
body .wrapper main section .content-container article .content table, body .wrapper main section .content-container article .content table th, body .wrapper main section .content-container article .content table td {
  border: 1px solid black;
  padding: 16px;
  text-align: center;
}
body .wrapper main section .content-container article .content table td:first-child, body .wrapper main section .content-container article .content table th:first-child {
  width: 50px;
}
body .wrapper main section .content-container article .content table thead tr {
  background-color: darkslategray;
  color: #f4f4f4;
}
body .wrapper main section .content-container article .content table tbody tr {
  color: black;
}
body .wrapper main section .content-container article .content table tbody tr:nth-child(even) {
  background-color: #d1d1d1;
}
body .wrapper main section .content-container article .content table tbody tr:hover {
  background-color: #c1c1c1;
}
body .wrapper main section .content-container article .content ul {
  margin: 0;
}
body .wrapper main section .content-container article .content ul li {
  font-weight: bold;
}
body .wrapper main section .content-container article p {
  margin: 0;
}
body .wrapper main section .content-container article .hidden {
  visibility: hidden;
  display: none;
}
body .wrapper footer {
  grid-area: footer;
  background-color: darkslategray;
  display: grid;
  place-items: center;
  color: #f4f4f4;
  font-size: 20px;
}/*# sourceMappingURL=styles.css.map */